<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>

<body>
    <header>
        {% include "layout/navbar.html.twig" %}        
    </header>

    <div class="container py-5">
        {% block body %}{% endblock %}
    </div>
</body>

</html>